{% extends 'transactions/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Log Move</title>{% endblock %}


<div class="d-flex">
  {% block main_content %}
  <!--Main Content-->
  <main class="tracker-main-content p-4 flex-grow-1">
    <div class="container-fluid">
      <div class="row">
        <!-- Transaction Form Card (Centered) -->
        <div class="col-md-6 offset-md-1 d-flex align-items-center justify-content-center">
          <div class="card border-0 shadow-sm mb-4 w-100" style="max-width: 500px;">
            <div class="card-body">
              <h5 class="card-title text-primary mb-4">
                <i class="bi bi-pen me-2"></i>Add Move
              </h5>
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">
                  <i class="bi bi-check-lg me-2"></i>Save
                </button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </main>
  {% endblock %}
</div>
