{% extends 'transactions/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card shadow">
      <div class="card-header">
        <h5>Transaction Details</h5>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Amount</dt>
          <dd class="col-sm-9">${{ transaction.amount }}</dd>
          
          <dt class="col-sm-3">Type</dt>
          <dd class="col-sm-9">
            <span class="badge {% if transaction.type == 'income' %}bg-success{% else %}bg-danger{% endif %}">
              {{ transaction.type|title }}
            </span>
          </dd>
          
          <!-- Additional fields -->
        </dl>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-header">
        <h5>Similar Transactions</h5>
      </div>
      <div class="card-body">
        {% for t in similar_transactions %}
        <div class="py-2 border-bottom">
          {{ t.date|date:"M d" }}: ${{ t.amount }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}