{% extends 'transactions/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Edit Transaction</title>{% endblock %}


<div class="d-flex">
  {% block main_content %}
  <!--Main Content-->
  <main class="tracker-main-content p-4 flex-grow-1">
    <div id="back-block">
        <h5><a class="back-redirect fw-medium" href="{% url 'list_transaction' %}">
          <i class="bi bi-arrow-left-circle me-3"></i>Back</a>
        </h5>
    </div>
    <div class="container-fluid">
      <div class="row">
        <!-- Form Block -->
        <div class="col-md-7 d-flex align-items-start justify-content-center">
          <div class="card shadow-sm w-100" style="max-width: 500px;">
            <div class="card-header bg-primary text-white">
              <h5>Update Transaction</h5>
            </div>
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">
                  <i class="bi bi-check-lg me-2"></i>Save Changes
                </button>
                <!-- not for delete -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
</div>
