{% extends 'transactions/index.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}<title>Rand Journey</title>{% endblock %}

{% block main_content %}
<!--Styling-->
<style>
    .card {
        border-radius: 1rem;
        min-width: 0;
    }
</style>
<!--Main Content-->
<main class="tracker-main-content p-4 flex-grow-1">
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}    
    </div>
    {% endif %}
    <div class="rounded mb-3 text-primary">
        <h1><i class="bi bi-bar-chart-line me-3 fs-5"></i>
            Journey
        </h1>
    </div>

    <!--Manage Moves Block-->
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="top-items d-flex justify-content-between">
                <h4 class="card-title text-primary mb-2">
                    <i class="bi bi-list-ul me-2"></i>Manage Moves
                </h4>
                <span class="badge bg-primary">{{ total_count }} total</span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in transactions %}
                        <tr>
                            <!--Date-->
                            <td>{{ t.date|date:"M d, Y" }}</td>
                            <!--Amount-->
                            <td>R {{ t.amount }}</td>
                            <!--Categories-->
                            <td>
                                <!--Income-->
                                {% if t.category == 'SALARY' %}
                                <i class="bi bi-briefcase me-1"></i> Work/Salary

                                {% elif t.category == 'SIDE_HUSTLE' %}
                                <i class="bi bi-laptop me-1"></i> Side Hustle

                                {% elif t.category == 'BUSARY' %}  
                                <i class="bi bi-mortarboard"></i> Scholarship/Bursary

                                {% elif t.category == 'ALLOWANCE' %}
                                <i class="bi bi-person-hearts"></i> Family Support
                                
                                {% elif t.category == 'STUDENT_LOAN' %}
                                <i class="bi bi-buildings"></i> Student Loan
                                
                                {% elif t.category == 'GRANT' %}
                                <i class="bi bi-clipboard-check"></i> Grant
                                
                                {% elif t.category == 'GIFT' %}
                                <i class="bi bi-gift"></i> Gift  

                                <!--Expenses-->
                                {% elif t.category == 'GROCERIES' %}
                                <i class="bi bi-basket"></i> Groceries

                                {% elif t.category == 'RENT' %}
                                <i class="bi bi-house"></i> Rent/Accomodation

                                {% elif t.category == 'TRANSPORT' %}
                                <i class="bi bi-train-front"></i> Transport

                                {% elif t.category == 'DATA' %}
                                <i class="bi bi-bar-chart"></i> Data/Airtime

                                {% elif t.category == 'GYM' %}
                                <i class="bi bi-heart-pulse-fill"></i> Gym/Fitness

                                {% elif t.category == 'INSURANCE' %}
                                <i class="bi bi-bank"></i> Insurance

                                {% elif t.category == 'DEBT' %}
                                <i class="bi bi-credit-card"></i> Debt Repayment
                                
                                {% elif t.category == 'ENTERTAINMENT' %}
                                <i class="bi bi-joystick"></i> Entertainment
                                
                                {% elif t.category == 'DINING' %}
                                <i class="bi bi-fork-knife"></i> Eating Out
                                
                                {% elif t.category == 'EDUCATION' %}
                                <i class="bi bi-book"></i> Education

                                {% elif t.category == 'HEALTH' %}
                                <i class="bi bi-bandaid"></i> Health/Medical

                                {% elif t.category == 'CLOTHING' %}
                                <i class="bi bi-bag"></i> Clothing
                                
                                {% elif t.category == 'SAVINGS' %}
                                <i class="bi bi-piggy-bank"></i> Savings/Invenstments 
                                
                                {% elif t.category == 'SUBSCRIPTIONS' %}
                                <i class="bi bi-person-vcard"></i> Subscriptions  
                                
                                {% else %}
                                {{ category_display|default:t.category }}
                                {% endif %}
                            </td>
                            <!--Descriptions-->
                            <td>{{ t.description }}</td>
                            <!--Transaction Type-->
                            <td>
                                <span class="badge {% if t.type == 'income' %}bg-success{% else %}bg-danger{% endif %}">
                                    {{ t.type|title }}     
                                </span>
                            </td>
                            <!--Actions(CRUD)-->
                            <td class="actions">
                                <a href="{% url 'detail_transaction' t.id %}" class="btn btn-sm btn-info">View</a>
                                <a href="{% url 'edit_transaction' t.id %}" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-square"></i></a>
                                <a href="{% url 'delete_transaction' t.id %}" class="btn btn-sm btn-outline-danger"><i class="bi bi-x-circle"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}